PORT=3000
NODE_ENV=development

# Se estiver usando o docker-compose, use as credenciais abaixo:
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=mnunesnails

JWT_SECRET=troque_por_uma_chave_segura

# Credenciais do admin inicial (usado pelo seed:admin)
ADMIN_PHONE=11999999999
ADMIN_PASSWORD=suaSenhaSegura
ADMIN_NAME=Admin
